@media (max-width: 888px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
/* ---------- BlogHome - 3. Blog List ---------- */
  .blogList{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Jasmine */

/* @media (max-width: 600px) { */
@media (orientation: portrait) and (max-width: 540px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  /* ---------- Navbar ---------- */
  .hideBar {
    top: -30vh;
  }
  #nav-toggle {
    font-size: 2.8vw;
  }
  .navbar {
    height: 8vh;
  }
  .nav-brand {
    letter-spacing: 1.3px;
    font-size: 5vw;
    margin-left: 4vw;
  }
  .nav-item {
    font-size: 4vw;
    padding-left: 43%
  }
  .nav-item-1 {
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
  /* ---------- BackToTop ---------- */
  #backtoTop {
    font-size: 8vw;
  }
  /* ---------- Footer ---------- */
  #footer {
    padding: 8% 10%;
  }
  #ins-icon {
    font-size: 10.5vw;
  }
  footer {
    font-size: 3.8vw;
    width: 85%;
  }
  /* --------------- About (4) --------------- */
  /* ---------- About - Sec.1 ---------- */
  .about-sec-1 {
    height: 53vh;
  }
  .about-heading-1 {
    font-size: 10vw;
    letter-spacing: 5px;
    margin: 10vh 0 3vh 0;
  }
  .about-heading-2 {
    font-size: 6vw;
    margin-bottom: 10vh;
  }
  .deco-img {
    width: 40vw;
  }
  /* ---------- About - Sec. 2 ---------- */
  .about-sec-2 {
    height: 70vh;
    margin-top: 0;
  }
  .column-l-2 {
    width: 20%;
    margin: 16.5vh 13vw 0 5.5vw;
  }
  .column-r-2 {
    margin: 9vh -2vw 0 0;
  }
  .jasmine-img {
    width: 33vw;
  }
  .about-txt {
    font-size: 5vw;
    line-height: 4.5vh;
  }
  /* ---------- About - Sec. 3 ---------- */
  .column-l-3 {
    width: 53%;
    margin-right: 7vw;
  }
  .column-r-3 {
    width: 20%;
    margin-left: 7vw;
  }
  .mountain-img {
    width: 48vw;
    opacity: .5;
    margin-top: 13vh;
  }
  /* ---------- About - Sec. 4 ---------- */
  .about-txt-p4 {
    margin-top: 25vh;
    margin-bottom: 10vh;
  }
  .hk-img {
    margin-top: 30vh;
  }
  /* --------------- BlogHome (5) --------------- */
  /* ---------- 1. Header ---------- */
  .blog-img-0 {
    width: 55vw;
    margin-top: -13vh;
    margin-left: 45vw;
    opacity: .7;
  }
  .blog-img-1 {
    width: 15vw;
    margin-top: -40vh;
    margin-left: 8vw;
  }
  .blogHome-header h1 {
    font-size: 9.5vw;
    margin-bottom: 2.8vh;
    padding-top: 3vh;
  }
  .accordion {
    width: 70%;
  }
  #expand-icon {
    font-size: 5.5vw;
    margin-bottom: 1vh;
  }
  #accordion-heading h3, 
  #accordion-txt,
  #searchBar-input {
    font-size: 4.3vw;
  }
  #accordion-txt {
    max-height: 47vw;
  }
  #accordion-txt p, dl {
    font-size: 3.8vw;
    padding: 1.3vh 4.5vw;
  }
  #accordion-txt dd {
    padding: .6vh 2.1vw;
  }
  /* ---------- 2. Search Bar ---------- */
  #searchBar {
    width: 70vw;
    margin-bottom: 0;
  }
  /* ---------- 3. Blog List ---------- */
  .blogList {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 4vw;
    padding-top: 3vh;
  }
  /* ---------- 4. Blog Card ---------- */
  .blogCard {
    margin-bottom: 1vh;
  }
  .blogCard-link img {
    height: 30vh;
    border-radius: 20px;
  }
  .blogCard-link h3 {
    font-size: 4.5vw;
  }
  .blogCard p {
    font-size: 3.6vw;
    line-height: 1.15;
  }
  .blogCard-category label {
    font-size: 3.4vw;
  }
  .blogCard-preview {
    margin-top: -1rem;
  }
  /* ---------- 5. Empty ---------- */
  .empty {
    height: 85vh;
    margin: 0 6vw;
  }
  /* --------------- Blog (3)  --------------- */
  /* ---------- 1. Icons ---------- */
  #goBack-icon {
    margin: .5vh 0 0 78vw;
  }
  #readTime-icon {
    font-size: .8rem;
  }
  .progress-bar {
    margin-top: -.6vh;
  }
  /* ---------- 2. Main Content ---------- */
  /* -------- 2.2 header -------- */
  .blog {
    padding-top: .8vh;
  }
  .blog header h1 {
    font-size: 7.5vw;
    letter-spacing: 4px;
    margin-top: .5rem;
    margin-bottom: 1.8vh;
  }
  .blog header p {
    font-size: 3.3vw;
    padding-bottom: .1rem;
    margin-bottom: 1.5vh;
  }
  .blog-row {
    font-size: 3.3vw;
    padding: 0;
    padding-right: 5vw;
    margin-bottom: -.75rem;
    grid-template-columns: 43% auto auto;
  }
  .blog-row li {
    line-height: 2.3vh;
  }
  .blog-row li {
    list-style: circle;
  }
  /* -------- 2.3 body -------- */
  .blog-desc {
    font-size: 3.8vw;
    margin: 0 9%;
    padding-bottom: .5rem;
  }
  .blog-desc p {
    margin-bottom: 1.5rem;
    line-height: 25px;
  }
  /* ---------- 3. Img Slider ---------- */
  .img-slider {
    padding: 0 9vw;
    margin-bottom: .3rem;
  }
  .img-slider figcaption {
    font-size: 3.6vw;
  }
  .img-arrow {
    top: 40%;
  }
  .img-arrow-next {
    right: .7%;
  }
  .img-arrow-prev {
    left: 2.3%;
  }
  .img-dots {
    margin-bottom: .3rem;
  }
  .img-dots li {
    margin: 0 1.09rem;
  }
  .img-dots li button {
    height: .3rem;
    width: .6rem;
  }
  /* ---------- LogIn ---------- */
  .login {
    margin-top: 0;
  }
  .login img {
    height: 85vh;
  }
  .login-content {
    width: 70%;
    height: 61.5vh;
    padding: 6vh 10vw;
  }
  .login-content h1 {
    font-size: 5.5vw;
  }
  .login-content h1:after {
    width: 13vw;
  }
  .login-content h2 {
    font-size: 7vw;
    margin-bottom: 2.5vh;
  }
  .login-content input,
  .login-content input::placeholder {
    font-size: 3.8vw;
    margin-bottom: 2.8vh;
  }
  .login-content button {
    width: 100%;
    margin-bottom: 3vh;
    margin-top: 1vh;
  }
  .submit-btn {
    font-size: 3.5vw;
  }
  #visibility-switch {
    margin-top: -7.5vh;
  }
  #visibility-icon {
    font-size: 4.5vw;
  }
  .pwd-recovery, 
  .sign-up {
    font-size: 3.2vw;
    display: block;
  }
  /* ---------- SignUp ---------- */
  .signup-content {
    height: 60vh;
  }
  .signup-error {
    font-size: 2.8vw;
    margin-top: -1.5vh;
    margin-bottom: 0vh;
  }
  /* ---------- Settings ---------- */
  .settings-content {
    width: 75vw;
    height: 70vh;
    padding-top: 9vh;
  }
  .settings-content ul {
    margin-left: -5vw;
  }
  .settings-content li {
    margin-bottom: 5vh;
    font-size: 4vw;
  }
  .settings-content button {
    padding: 1vh 8vw;
  }
  .next-btn {
    font-size: 3.8vw;
  }
  /*  ---------- Modal ---------- */
  .modal { 
    max-height: 47vh;
    margin-top: -.5vh;
    padding-top: 10vh;
    border-radius: 13px;
  }
  .modal p {
    font-size: 3.8vw;
  }
  .modal button {
    margin: 5vh 4vw;
    padding: 1.5% 3.5%;
    border-radius: 9px;
  }
  .modal-text {
    font-size: 3.6vw;
  }
}