/* Google Fonts
1. Satisfy, cursive
2. 
*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* ---------- General ---------- */
html { 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 92%);
}
/* h3 { 
  color: rgb(2, 2, 2);
  font-family: 'Georgia', sans-serif;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
  padding-bottom: 2vh;
}  */
/* p, figcaption, ul, li {
  color: rgb(2, 2, 2);
  font-family: 'Georgia', sans-serif;
  font-size: 1.5vw;
  margin: 0;
  text-align: justify;
} */
/* a {
  color: inherit;
} */
/* ---------- Navbar ---------- */
.navbar {
  position: fixed;
  height: 7.5vh;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  transition: top .3s;
}
.hideNavbar {
  top: -7.5vh;
}
.nav-brand {
  font-family: 'Playball', cursive;
  font-size: 2vw;
  font-weight: 800;
  padding-left: 38.5%;
}
.nav-item, #nav-item-dropdown, .nav-dropdown {
  color: rgb(2, 2, 2);
  font-family: 'Georgia', sans-serif;
  font-size: 1.5vw;
}
.nav-item {
  margin-left: 2vw;
}
/* ---------- About ---------- */
.headings {
  font-family: 'Satisfy', 'cursive';
  text-align: center;
}
.headings h1 {
  font-size: 7vw;
  padding-top: 10vh;
}
.headings h2 {
  font-size: 4vw;
  margin-top: 3vh;
}
.deco-img {
  height: auto;
  object-fit: cover;
  opacity: 0.5;
}
.deco-img-01 {
  width: 40vw;
  float: left;
  margin: 18% 0 -3% -47.4%;
  transform: rotate(70deg);
}
.deco-img-02 {
  width: 26vw;
  float: right;
  margin: -20% -35% 0 0;
  transform: rotate(10deg);
}