/* Google Fonts
1. Satisfy, Regular 400, cursive
2. Hahmlet, Regular 400
*/
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Satisfy&display=swap');
/* ---------- General ---------- */
html { 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------- Light & Dark Mode ---------- */
#light {
  background-color: hsl(0, 0%, 92%);
}
#dark {
  background-color: #2b4258;
  color: lightblue;
  /* #2b4258, #233648, #22303C, #242526, 
  #282828, #3A3B3C, #1a3235 */
}
.theme-switch {
  margin: 2.5vh 0 0 90vw !important;
  z-index: 100 !important;
}
/* ---------- Navbar ---------- */
.navbar {
  position: fixed;
  height: 7vh;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  transition: top .3s;
  z-index: 100;
}
.hideNavbar {
  top: -7.5vh;
}
.nav-brand {
  font-family: 'Playball', cursive;
  font-size: 2vw;
  font-weight: 800;
}
.nav-item, #nav-item-dropdown, .nav-dropdown {
  color: rgb(2, 2, 2);
  font-family: 'Georgia', sans-serif;
  font-size: 1.5vw;
}
.nav-item {
  margin-left: 2vw;
}
.dropdown-menu {
  padding: 0;
  margin: .5vh 0 .5vh 0;
}
#light .navbar {
  background-color: hsl(0, 0%, 92%);
}
#dark .navbar {
  background-color: #2b4258;
}
#dark .nav-brand {
  color: lightblue;
}
#dark .nav-item {
  color: lightblue;
}
#dark #nav-item-dropdown {
  color: lightblue;
  background-color: #2b4258;
}
#dark .nav-dropdown {
  color: lightblue;
  background-color: #2b4258;
}
#dark .nav-dropdown:hover {
  background-color:#35536f;
}
/* ---------- About - Page 01 ---------- */
.about-page {
  height: 100vh;
}
.headings {
  font-family: 'Satisfy', 'cursive';
  text-align: center;
}
.about-p1-txt1 {
  font-size: 7vw;
  margin-bottom: 3vh;
}
.about-p1-txt2 {
  font-size: 4vw;
}
.deco-img {
  height: auto;
  object-fit: cover;
  opacity: .65;
}
.deco-img-01 {
  width: 44vw;
  animation: diagonal-moveIn-01 1.5s ease-in-out forwards;
}
@keyframes diagonal-moveIn-01 {
	0% {
    margin: -13vh 0 -3vh -18vw;
    transform: rotate(75deg);
	}
	100% {
    margin: -3vh 0 -3vh -8vw;
    transform: rotate(75deg);
	}
}
.deco-img-02 {
  width: 28vw;
  opacity: .85;
  animation: diagonal-moveIn-02 1.5s ease-in-out forwards;
}
@keyframes diagonal-moveIn-02 {
	0% {
    margin: -25vh 0 0 92.1vw;
    transform: rotate(10deg);
	}
	100% {
    margin: -25vh 0 0 72.1vw;
    transform: rotate(10deg);
	}
}
/* ---------- About - Page 02 ---------- */
.about-page2 {
  height: 73vh;
  margin-top: 10vh;
}
.row {
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-l-p2 {
  float: left;
  width: 25%;
  margin: 6vh 3.5vw 0 5.5vw;
}
.column-r-p2 {
  margin: 13vh 5vw 0 0;
  width: 60%;
}
.jasmine-img {
  width: 26vw;
  height: auto;
  border-radius: 50%;
}
.about-txt {
  font-size: 3vw;
  font-family: 'Hahmlet', serif;
  font-weight: 500;
  text-align: center;
  line-height: 9vh; 
}
/* ---------- About - Page 03 ---------- */
.about-page3 {
  height: 90vh;
}
.column-l-p3 {
  float: left;
  width: 47%;
  margin: 0 7.5vw 0 5.5vw;
}
.column-r-p3 {
  margin: 10vh 5vw 0 8vw;
  width: 20%;
}
.about-txt-p3 {
  margin-top: 23vh;
}
.mountain-img {
  width: 53vw;
  height: auto;
  opacity: .45;
  margin-left: -21vw;
  margin-top: 3vh;
}
/* ---------- About - Page 04 ---------- */
.about-page4 {
  /* height: 123vh; */
}
.column-l-p4 {
  width: 60%;
  margin: 0 3.5vw 0 5.5vw;
}
.column-r-p4 {
  margin: 10vh 0 0 0;
  width: 10%;
}
.about-txt-p4 {
  margin-top: 27vh;
}
.hk-img {
  width: 102vw;
  height: auto;
  opacity: .3;
  margin: 20vh 0 0 -71vw;
}