@media screen and (max-width: 750px) {
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
  }
  /* ---------- Navbar ---------- */
  .nav-link, .dropdown-item {
    font-size: 4vw;
  }
  .navbar-toggler {
    font-size: 2.5vw;
  }
  .navbar-toggler-icon {
    font-size: 2.5vw;
  }
  .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 6vw;
    padding-left: 0;
    padding-top: 2.5vh;
  }
  .navbar-nav {
    padding-left: 43%;
  }
  /* ---------- Text ---------- */
  h1 {
    font-size: 9.5vw;
  }
  h2 {
    font-size: 6.5vw;
    padding-top: 1.5vh;
  }
  p {
    font-size: 4vw;
  }
  /* ---------- About Me ---------- */
  .about-me {
    padding: 5vh 0 9vh;
  }
  .about-me-overlay {
    top: 18%;
    height: 82%;
  }
  .about-me-overlay figcaption {
    font-size: 3.3vw;
  }
  .about-me-overlay span {
    font-size: 2.5vw;
  }
  /* ---------- Others ---------- */
  .others {
    height: 71vh;
  }
  /* ---------- The Blogs - Front Page ---------- */
  .hikes-banner {
    padding-top: 17vh;
  }
  .hikes-banner h1 {
    font-size: 8.5vw;
  }
  .articles {
    width: 80%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 5vh;
  }
  .card h3 {
    font-size: 6vw;
  }
  .card p {
    margin: 0.5vh 0 1vh;
    text-align: center;
  }
  .thumb { /* thumb cover pic */
    padding-bottom: 20vh;
  }
  .articles span {
    color: rgb(56,56,56);
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: .05vw;
    text-align: center;
    text-transform: uppercase;
    /* padding-bottom: 0.5vh; */
  }
  /* ---------- The Blog - Upperpart ---------- */
  .column {
    flex: 50%;
    padding: 0 0 3vh 3.5vw;
    border-bottom: solid #444 0;
    font-size: 5vw;
  }
  .column li {
    font-size: 3.8vw;
  }
  /* ---------- The Blog - Body ---------- */
  .articles p {
    padding: 0 2.5vw 0.5vh;
  }
  .articles-img-container {
    max-width: 80vw; /* Set a width limit to restrict the row */
  }
  .articles-img-container figcaption {
    font-size: 3.5vw;
  }
  .articles-img-landscape {
    width: 75%;
  }
  .articles-img-portrait {
    width: 90%;
  }
  /* ----------Contact ---------- */
  .contact {
    margin-top: 9vh;
  }
  .fab {
    font-size: 10vw;
    padding: 2vh 0 0.5vh 10vw;
  }
  footer {
    font-size: 3.5vw;
    padding: 0.3vh 10vw 1.5vh;
  }
}