/* ---------- Light & Dark Mode ---------- */
#light {
  background-color: hsl(0, 0%, 92%);
}
#dark {
  background-color: hsl(209, 34%, 26%);
  color: lightblue;
  /* #2b4258, #233648, #22303C, #242526, 
  #282828, #3A3B3C, #1a3235 */
}
.theme-switch {
  margin: 2.5vh 0 0 90vw !important;
  z-index: 100 !important;
}
/* ---------- Navbar ---------- */
#light .navbar {
  background-color: hsl(0, 0%, 92%);
}
#dark .navbar {
  background-color: hsl(209, 34%, 26%);
}
#dark .nav-brand,
#dark .nav-item,
#dark #nav-item-dropdown,
#dark .nav-dropdown {
  color: lightblue;
}
#dark #nav-item-dropdown,
#dark .nav-dropdown {
  background-color: hsl(209, 34%, 26%);
}
#dark .nav-dropdown:hover {
  background-color:hsl(209, 35%, 32%);
}