/* ---------- Light & Dark Mode ---------- */
#light {
  background-color: hsl(0, 0%, 92%);
}
#dark {
  background-color: hsl(209, 34%, 26%);
  color: lightblue;
  /* #2b4258, #233648, #22303C, #242526, 
  #282828, #3A3B3C, #1a3235 */
}
#theme-switch {
  margin: 1.5vh 0 0 1vw;
  padding: 7px;
  z-index: 100;
}
#light #theme-switch {
  color: hsl(350, 100%, 80%);
}
#dark #theme-switch {
  color: lightskyblue;
}
/* ---------- Navbar, Blog: Header ---------- */
#light .navbar,
#light #accordion-heading {
  background-color: hsl(0, 0%, 92%);
}
#dark .navbar,
#dark #nav-item-dropdown,
#dark .nav-dropdown,
#dark #accordion-heading {
  background-color: hsl(209, 34%, 26%);
}
#dark .nav-brand,
#dark .nav-item,
#dark #nav-item-dropdown,
#dark .nav-dropdown,
#dark #accordion-heading h3 {
  color: lightblue;
}
#dark .nav-dropdown:hover {
  background-color:hsl(209, 35%, 32%);
}
/* ---------- Blog: Header ---------- */
#light #accordion-txt p {
  background-color: hsl(0, 0%, 94%);
}
#dark #accordion-txt p {
  background-color: hsl(209, 34%, 28%);
}
#dark #accordion-txt p {
  color: hsl(0, 0%, 78%);
}
/* ---------- BlogHome: 2. Search Bar ---------- */
#light #searchBar {
  background-color: rgb(255, 255, 255, 0.25);
}
#light #searchBar:hover {
  background-color: rgb(255, 255, 255, 0.4);
}